@import "./SASS/Base/base";
@import "./SASS/Utils/mixins";
@import "./SASS/Utils/variables";
@import "./SASS/Layouts/layouts";
@import "./SASS/Components/button";

@import "./SASS/Pages/menus";

.section1 {
    @include position;
    text-align: center;
    background-color: #F7F7F7;

    & h1 {
        width: 275px;
        margin-top: 40px;
        padding: 0 20px 10px 20px;
    }

    & p {
        font-weight: 300;
        width: 315px;
        height: 45px;
    }
}

.section2 {
    height: 420px;

    & h2 {
        margin: 45px 0 25px 20px;
    }

    & .section2__elements {
        @include position;
        justify-content: space-between;
        height: 300px;

        & .align__button {
            display: flex;
            align-items: center;
        }

        & .number {
            position: absolute;
            left: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
            height: 15px;
            border-radius: 25px;
            padding: 5px;
            color: $c_white;
            background: #9356DC;
        }
    }

    & a {
        text-decoration: none;
        color: Primary/2;
    }

    & .section2__elements .icon {
        display: flex;
        align-items: center;
        width: 320px;
        height: 75px;
        background: #F7F7F7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;

        &:hover {
            background-color: #F5EDFF;
        }
    }

    & .section2__elements .fa-solid {
        color: #7E7E7E;
        padding: 0 25px 0 35px;
    }

    & .section2__elements p {

        font-size: 16px;
        font-weight: 500;
        ;
    }
}

.section3 {
    background-color: #F7F7F7;
    padding-bottom: 50px;

    & h2 {
        padding: 50px 0 0 20px;
    }

    & .card {
        width: 90%;
        height: 250px;
        margin: 20px 20px 0 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        background-color: white;
    }

    & .card img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    & h3, p {
        margin-left: 10px;
    }

    & p {
        font-size: 17px;
        font-weight: 300;
    }
}