button {
    width: 220px;
    height: 50px;
    border-radius: 25px;
    border-color: transparent;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    color: $clr_white;
    font-size: 16px;
    margin: 30px 0 40px 0;
}