@mixin position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin position--2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin position--3 {
    display: flex;
    justify-content: center;
}

@mixin position--4 {
    display: flex;
    align-items: center;
}

@mixin position--5 {
    display: flex;
    flex-direction: column;
}