$clr_white: #ffffff;
$clr_gray: #F7F7F7;
$clr_gray--sec: #EAEAEA;
$clr_gray--thi: #F6F6F6;
$clr_drakgray: #7E7E7E;
$clr_darkgray--scd: #353535;
$clr_black: #000000;
$clr_pink--purple: #9356DC;
$clr_pink: #F5EDFF;
$clr_green--minth: #99e2d0;