header {
    @include position;

    & .box {
        @include position--2;
        width: 375px;  
    }

    & .box__elem1 p {
        font-family: 'Shrikhand';
        font-size: 30px;
        font-weight: 400;
    }

    & .box__elem1 { 
        padding: 20px 0 10px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        z-index: 1;
    }

    & .box__elem2 {
        height: 30px;
        padding: 10px 0 10px 0;
        background-color: $clr_gray--thi;
    }

    & .fa-solid {
        padding-right: 15px;
    }
}

footer {
    @include position--5;
    background-color: $clr_darkgray--scd;
    color: $clr_white;
    height: 200px;

    & p {
        font-size: 18px;
        font-family: 'Shrikhand';
        margin: 15px 0 5px 20px;
    }

    & a {
        text-decoration: none;
        margin: 15px 0 0 20px;
    }

    & p, a {
        color: $clr_white;
    }

    & a .icon {
        padding-right: 10px;
    }
}